* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.primary-lemon{
  color:#F4CE14
 }
 .primary-dark{
  color:#495E57;
 }

 .navbar{
  margin-left: -15px;
  margin-right: -15px;
  background-color: #f8f9fa !important;
 
}

.logo-height {
  width: 20rem
}

.nav-active {
  color: #F4CE14 !important;
}

.hover:hover {
  background-color: #F4CE14;
  border-radius: 15px;
}

.logo-height {
  width: 20rem
}

.nav-font {
 font-size: x-large !important;
}
.hero{
  background-color:#495E57;
  height:60vh;
  border-radius: 25px;
}
 .hero-img{
  width:80%;
  height:80%;
 }
.hero-heading{
  font-size:3.3rem;
}
.hero-p{
  color:white;
  font-size: 1.5rem;
}
 
footer{
background-color: #f7f8f9;;
 
margin-left: -15px;
margin-right: -15px;
 
}
.copyright{
  font-weight: bold;
}
footer>.logo{
  margin-left:10%;
}
.touch{
  margin-left:100px;
}
.social{
  background-color: #495E57;
  height:7vh;
  color:white;
}

.newsletter{
 margin-right:200px;
}

.btn-sub{
 background-color: #495E57 !important;
 color:white !important;
 font-weight: bold !important;
 margin-bottom: 10px;
}

.activefooter{
  font-weight: bold;
  font-size: large;
  text-decoration: none;
  color:black
}

.nonactivefooter{
  font-weight: normal;
  text-decoration: none;

  width:60%;
}

.nonactivefooter:hover{
  background-color: #F4CE14;
  color:#495E57;
  font-weight: bold;
  
}