* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 .navbar{
  margin-left: -15px;
  margin-right: -15px;
  background-color: #f8f9fa !important;
 
}

.logo-height {
  width: 20rem
}

.nav-active {
  color: #F4CE14 !important;
}

.hover:hover {
  background-color: #F4CE14;
  border-radius: 15px;
}

.logo-height {
  width: 20rem
}

.nav-font {
 font-size: x-large !important;
}

 